body {
	text-align: center;

}

 section {
 	display: flex;  /* defaults to row layout */
 	justify-content: center;  /* centers items horizontally in row layout */
 	align-items: center;  /* centers vertically in row layout */
 	flex-basis: 4;
 	/* flex-direction: column; will set layout to column instead of row */
 }

#addBtn, #subBtn {
	color:white;
	background-color: grey
	

}

#display {
	font-size: 3em;
}

input {
	font-size: 32px;
	width: 75px;
	height: 75px;
	border: 1px solid grey;
	border-radius: 5px
}
#input {
	width: 100px;
}